@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

/* Définition de la police générale du site  */
:root {
    --primary-font: "Barlow Semi Condensed";
    --secondary-color: rgb(225 199 52);
}

body {
    margin: 0;
    font-style: var(--primary-font);
    line-height: 1.5;
    background-image: url(/image/vline.png);
    background-repeat: repeat-y;
    background-position: 4.4vw;
}




/* Style du header */

header {
    height: 50vh;
    background-image: url(/image/back_contact.jpg);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 20px 0px #2a2a2a;

}

.menu-burger,
#toggle {
    display: none;
}



.logo-neg img {
    width: 100%;
}

.logo-neg {
    width: 250px;
    position: relative;
    top: 1rem;
    left: 1rem;
}

.menu-header-pages a {
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: white;
}

.menu-header-pages {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.menu-header-pages a:hover {
    color: var(--secondary-color);
}


.menu-header-pages :nth-child(4) {
    color: var(--secondary-color);
}

.social-link {
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.social-link a {
    text-decoration: none;
    color: var(--secondary-color);

}

/* barre nav */

.menu-header {
    background-color: transparent;
    background-image: linear-gradient(180deg, #000000 35%, #00000000 100%);
    opacity: 0.90;
    padding-bottom: 5rem;
}

/* Style du Main */

main {
    height: 100%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

.titre {
    margin-left: 2vw;
    max-width: 1500px;
    margin-bottom: 2rem;
}

.thumbnail {
    margin: auto;
    background-color: #fcfcfc;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 1rem;
    border-radius: 20px;
}

.page-title {
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 300px;
    height: 50px;
    left: 4rem;
    clip-path: polygon(0 30%, 100% 30%, 85% 100%, 0% 100%);
    background-color: transparent;
    background-image: linear-gradient(210deg, #FFFFFF 0%, #000000 0%);
    padding-top: 0.9rem;
    padding-left: 3rem;
    font-family: "Barlow Semi Condensed";
    font-size: 1.5rem;
}

/*Formulaire de contact*/

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    /* background-image: linear-gradient(#000000 100%, #FFFFFF 0%); */
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    /* background-image: linear-gradient(#FFFFFF 0%, #000000 100%); */
    color: rgb(0, 0, 0);
    background-color: var(--secondary-color);

}

.info-bloc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
}

.info-resa {
    width: 45%;
}

.location-info {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-items: center;
    padding: 20px;

}

.location-info ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.location-info li {
    list-style-type: none;
}

.reservation {
    width: 100%;
    /* margin: 30px auto; */
    margin-top: 1rem;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: var(--primary-font);
}

.reservation h3 {
    text-align: center;
}

.reservation iframe {
    width: 100%;
}

.maps {
    width: 45%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.maps iframe {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Délimitation du footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(136, 255, 0); */
    font-family: var(--primary-font);
    background: linear-gradient(290deg, black 13%, white 91%);
    margin-top: 2rem;
    height: 400px;
    box-shadow: 0px 0px 20px 0px #2a2a2a;
}

footer * {
    margin: 0;
}

footer nav {
    background-color: transparent;
}


/* Organisation du contenu du footer  */


.bi {
    display: inline-block;
    margin-inline: 0.3rem;
    /*Marge des images*/

}

footer .bi-facebook {
    color: #0866ff;
}

footer .bi-instagram {
    color: rgb(238, 228, 228);
    background: linear-gradient(to top, yellow, purple);
    border-radius: 7px;
    padding: 2px;
}

.footer-container {
    display: flex;
    margin: 1rem;
    line-height: 2rem;
}

/* Marge du contenu footer  */
.footer-container>* {
    margin-inline: 1rem;
}

.footer-logo {
    width: 180px;
    border-radius: 50%;
    margin-inline: auto;
}

/* Container adresse / Mail / Téléphone */
footer .infos {
    line-height: 2rem;
    display: flex;
    flex-direction: column;
}

/* Navbar des différentes pages */
.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.footer-section a:hover {
    color: var(--secondary-color);
    transition: color 0.5s;
}

/* Listes des horaires */
.footer-horaires {
    display: flex;
    flex-direction: column;
}

/* Boite des réseaux */
.footer-reseaux {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-reseaux .bi {
    font-size: 2rem;
}

/* Taille image agri */
.network-image {
    width: 150px;
    margin-top: 5px;
}

/* Trademark sous le footer  */
.trademark {
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width : 768px) {
    .menu-header-pages {
        display: none;
    }

    .social-link {
        display: none;
    }

    .menu-burger {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 2rem auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    .menu-header-pages {
        display: none;
        flex-direction: column;
        background: transparent;
        height: 220px;
    }

    .menu-header-pages a {

        width: 100%;
        text-align: center;
    }

    #toggle:checked+.menu-header-pages {
        display: flex;

    }

    .logo-neg {
        width: 350px;
        position: relative;
        width: 350px;
        margin: 0rem auto;
        padding: 1rem;
        top: auto;
        left: auto;
    }

    header {
        height: 70vh;
    }

    body {
        background-position: 8vw;
    }

    main {
        margin-top: 1rem;
    }

    .titre {
        display: flex;
        align-self: flex-start;
    }

    .thumbnail {
        background-color: transparent;
        width: 100%;
        gap: none;
    }

    .form-group input[type="submit"] {
        width: 50%;

    }

    .info-bloc {
        flex-direction: column;
        width: 90vw;
    }

    .info-resa {
        width: 90%;
    }

    .form-button {
        display: flex;
        justify-content: center;
    }

    .location-info {
        padding: 1rem;
    }

    .location-info h3 {
        margin: 0 0 1rem 0;
    }

    .reservation h3 {
        margin: 0 0 1rem 0;
    }

    .maps {
        width: 90%;
        margin-top: 1rem;
    }

    .maps iframe {
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .carousel {
        width: 490px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        max-height: 100%;
        justify-items: center;
    }

    .footer-container>* {
        margin-inline: 0rem;
    }

    .footer-logo {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .footer-reseaux {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .footer-container>* {
        margin-inline: 0rem;
    }

    .footer-section {
        display: none;
    }

}

@media screen and (max-width:1200px) {
    .menu-header-pages {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 480px) {}