@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Définition de la police générale du site  */
:root {
    --primary-font: "Barlow Semi Condensed";
}

/* Style du header */

header {
    height: 45vh;
    background-image: url(/image/back_1.jpg);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 20px 0px #2a2a2a;
    margin-bottom: 3rem;
}

.logo-neg img {
    width: 100%;
}

.logo-neg {
    width: 250px;
    position: relative;
    top: 1rem;
    left: 1rem;
}

.menu-header-pages a {
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: white;
}

.menu-header-pages {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.menu-header-pages :nth-child(1) {
    color: rgb(225 199 52);

}

.social-link {
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.social-link a {
    text-decoration: none;
    color: rgb(225 199 52);

}

/* barre nav */

.menu-header {
    background-color: transparent;
    background-image: linear-gradient(180deg, #000000 35%, #00000000 100%);
    opacity: 0.90;
    padding-bottom: 5rem;
}

/* Style du Main */

/* body {
    display: flex;
    justify-content: center;
}
 */
main {
    display: flex;
    background-color: #fcfcfc;
    height: auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 20px;
}

.thumbnail {
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 40px;
    align-items: center;
    padding: 2rem 2rem;

}

.article {
    background-color: #e2e2e2;
    border-radius: 20px;
    width: 22rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.article h3 {
    margin: 0;
    font-family: "Barlow", sans-serif;
}

.article img {
    width: 10rem;
    padding: 1rem 1rem;
    border-radius: 25px;
}

.article-content p {
    font-family: "Barlow", sans-serif;
    text-align: justify;
    padding: 0 1rem 0 1rem;
}

.read-button {
    /* background-color: #2a2a2a; */
    background: linear-gradient(#000000, #807f7f);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.read-button:hover {
    background: linear-gradient(#807f7f, #000000);
    color: black;
}

.read-button a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Barlow", sans-serif;
    padding: 1rem 1rem 1rem 1rem;
    line-height: 3;

}

/* Délimitation du footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(136, 255, 0); */
    font-family: var(--primary-font);
    background: linear-gradient(290deg, black 13%, white 91%);
    opacity: 0.9;
    margin-top: auto;
    height: 400px;
    box-shadow: 0px 0px 20px 0px #2a2a2a;
}

footer * {
    margin: 0;
}

footer nav {
    background-color: transparent;
}


/* Organisation du contenu du footer  */


.bi {
    display: inline-block;
    margin-inline: 0.3rem;
    /*Marge des images*/
}

footer .bi-facebook {
    color: #0866ff;
}

footer .bi-instagram {
    color: rgb(238, 228, 228);
    background: linear-gradient(to top, yellow, purple);
    border-radius: 7px;
    padding: 2px;
}

.footer-container {
    display: flex;
    margin: 1rem;
    line-height: 2rem;
}

/* Marge du contenu footer  */
.footer-container>* {
    margin-inline: 1rem;
}

.footer-logo {
    width: 180px;
    border-radius: 50%;
    margin-inline: auto;
}

/* Container adresse / Mail / Téléphone */
footer .infos {
    line-height: 2rem;
    display: flex;
    flex-direction: column;
}

/* Navbar des différentes pages */
.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.footer-section a:hover {
    color: #fd7e14;
    transition: color 0.5s;
}

/* Listes des horaires */
.footer-horaires {
    display: flex;
    flex-direction: column;
}

/* Boite des réseaux */
.footer-reseaux {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-reseaux .bi {
    font-size: 2rem;
}

/* Taille image agri */
.network-image {
    width: 150px;
    margin-top: 5px;
}

/* Trademark sous le footer  */
.trademark {
    margin-top: 1rem;
    text-align: center;
}